/* Start Variables */
:root {
--main-color:#00C7FC;
--transparent-main-color: rgb(15 116 143 / 70%);
--grey-text-color:#777;
--pragraph-line-height:2;
--section-padding:100px
}
/* End Variables */
/* Start Golobal Rules */
* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin:0;
    padding:0
}

body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style:none;
}
.container {
    margin-left:auto;
    margin-right:auto;
    padding-left:15px;
    padding-right:15px;
}
/* Small */

@media (min-width:768px) {
    .container {
       width: 750px;
    }
}

/* Medium */

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
/* End Golobal Rules */
/* Start Components */
.section {
    padding:100px
}
.sp-heading {
    text-align :center;
}
.sp-heading h2 {
    position: relative;
    font-size:40px;
    text-transform:uppercase;
    font-weight:normal;
    margin-bottom:70px;
}
.sp-heading h2::before {
    position: absolute;
    content:'';
    bottom:-30px;
    left:50%;
    height:2px;
    width:120px;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    background:#333
}
.sp-heading h2::after {
    position: absolute;
    content:'';
    height:15px;
    width:15px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    bottom:-38px;
    border:2px solid #333;
    background-color:white;
}
.sp-heading p {
    color:var(--grey-text-color);
    line-height:  var(--pragraph-line-height);
    max-width: 100%;
    margin:0 auto 100px;
    width:550px
}

/* End Components */
/* Start header */

header {
    position: absolute;
    width:100%;
    z-index:2;
    left:0
}
header .container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    position:relative;
    min-height:97px
}
header .container::before {
    content:'';
    position:absolute;
    height:1px;
    width:calc(100% - 30px);
    bottom:0;
    left:15px;
    background-color:#a2a2a2;
}
header nav {
    flex:1;
    display:flex;
     align-items:center;
     justify-content:flex-end
}
header .container img {
    height: 40px;
}
header .container nav i {
    font-size: 22px;
    color:white;
}
header .container nav ul li a{
    display:block;
    color:white;
    text-decoration:none;
    padding:40px 10px;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 2;
    font-size: 14px;
}
@media (min-width:768px){
    header .container nav .menu-botton {
        display:none
    }
}
header  .container nav ul  {
    display:flex;
}
@media (max-width:767px) {
    header .container nav ul {
        display: none;
    }
    header .container nav .menu-botton:hover + ul {
        display: flex;
        position:absolute;
        flex-direction:column;
        top: 100%;
        background-color:rgb(0,0,0 ,0.5);
        left:0;
        width:100%;
    }
    header .container nav ul li a {
        padding:15px ;
        z-index: 3;
    }

}
header .container nav  li a:hover,
header .container nav  li a.active {
    color:var(--main-color);
    border-bottom:1px solid var(--main-color)
}
header .container nav .form {
    position:relative;
    width:40px;
    height:30px;
    margin-left:30px;
    border-left:1px solid white;
}
header .container nav .form i {
    color:white;
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    margin-left:10px;
    right:0;
    font-size:20px
}
/* End header */
/* Start Overlay */
.landing {
    min-height:100vh;
    background-color: #1f2021;
    background-image:url("../img2/landing.jpg");
    background-size:cover;
    position:relative;
}
.landing .overlay {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.6
}
.landing .text {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    left:0;
    padding:50px;
    background-color:var(--transparent-main-color);
    color:white;
    width:50%;
    display:flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width:767px) {
    .landing .text {
        width:100%
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
    font-weight:normal;
    margin-bottom:20px;
    line-height:1.5;
    font-size:32px
}
.landing .text .content p {
    line-height: var(--pragraph-line-height);
    font-size:14px;

}
.landing .change-icon {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    color:#ddd;
}
.landing .change-icon.left {
    left:30px;
}
.landing .change-icon.right {
    right:30px
}
@media (max-width:767px) {
    .landing .change-icon {
        display:none;
    }

}
.landing .circles {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    display:flex;
    bottom:30px
}
.landing .circles li {
    width:20px;
    height:20px;
    border:2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right:10px
}
.landing .circles li.active {
    border-color:var(--main-color);
    background-color:var(--main-color);
}
/* End Overlay */
/* Start Services */
.services {
    padding:var(--section-padding) 0px;
} 
@media (min-width:767px) {
    .services .service-content {
        display:grid;
        grid-template-columns:repeat(auto-fill, minmax(450px,1fr));
        grid-column-gap:40px;
        grid-row-gap:60px
    } 
}
.services .srv-box {
    display:flex;
}
.services .srv-box i {
    margin-right:50px
}
@media (max-width:768px) {
    .services .srv-box {
        flex-direction: column;
        text-align: center;
    }
    .services .srv-box i {
        margin:0 0 40px;
    }
    .services .srv-box {
        margin-bottom: 40px;
    }
}
.services .srv-box .text h3 {
    color:var(--main-color);
    margin-bottom:40px;
}
.services .srv-box .text p {
    color:var(--grey-text-color);
    line-height:var(--pragraph-line-height);   
}
/* End Services */   
/* Start Design*/
.design {
    padding:var(--section-padding) 0px;
    display:flex;
    width:100%;
    height:600px;
    align-items: center;
    justify-content: center;
    background-color: #1f2021;
    background-image:url(../img2/design-features.jpg);
    background-size: cover;
    position: relative;
    overflow:hidden
}
.design::before {
    position: absolute;
    content:'';
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgb(0, 0, 0 ,0.6) ;
}
.design div {
    flex:1;
    position:relative;
    z-index: 2;
}
.design .image {
    text-align: center;
    bottom:-150px
}
@media (max-width:768px) {
    .design .image {
        display:none;
    }
}
.design .text {
    background-color:var(--transparent-main-color);
    padding:60px;
    color:white
}
.design .text h2 {
    font-weight:normal;
    margin-bottom:40px
}
.design .text ul li {
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content:'\f390';
    font-weight:900;
    margin-right:20px
}

/* End Design*/
/* Start Portfolio */
.portfolio {
    padding:var(--section-padding) 0px;
}
.portfolio .container .shuffle {
    display:flex;
    justify-content:center
}
.portfolio .container .shuffle li {
    padding:10px
}
.portfolio .container .shuffle li:first-of-type {
    color:white;
    background-color:var(--main-color)
}
.portfolio .imgs {
    display:flex;
    flex-wrap:wrap;
    margin-top:60px
}
.portfolio .imgs .box {
    position:relative;
    overflow:hidden
}
.portfolio .imgs .box:hover .caption {
    bottom:0%
}
.portfolio .imgs .box:hover img {
    transform:rotate(3deg) scale(1.1);
    -webkit-transform:rotate(3deg) scale(1.1);
    -moz-transform:rotate(3deg) scale(1.1);
    -ms-transform:rotate(3deg) scale(1.1);
    -o-transform:rotate(3deg) scale(1.1);
}
@media (min-width:768px) {
    .portfolio .box {
        flex-basis:50%
    }
}
@media (min-width:1199px) {
    .portfolio .box {
        flex-basis:25%
    }
}
.portfolio .imgs .box img {
    max-width:100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .imgs .box .caption {
    position:absolute;
    left:0;
    padding:15px;
    bottom:-100%;
    background-color:white;
    width:100%;
    transition:0.3s;
    -webkit-transition:0.3s;
    -moz-transition:0.3s;
    -ms-transition:0.3s;
    -o-transition:0.3s;
}
.portfolio .imgs .box .caption h4 {
    font-weight:normal;
    margin-bottom:10px
}
.portfolio .imgs .box .caption p {
    color:var(--main-color)
}
.portfolio .more {
    padding:15px 20px;
    color:white;
    background-color:var(--main-color);
    text-decoration:none;
    text-transform:uppercase;
    margin:30px auto;
    display: block;
    width:fit-content
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video video {
    max-width: 100%;
}
.video::before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.6;
}
.video .text {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    background-color:var(--transparent-main-color);
    width:100%;
    padding:50px;
    text-align:center;
    color:white;
}
.video .text h2 {
    font-weight:normal;
    margin:0 0 30px;
}
.video .text p {
    margin-bottom:30px
}
.video .text button {
    background-color:black;
    padding:10px;
    color:white;
    border:none
}
/* End Video */
/* Start About */
.about {
    padding-top:var(--section-padding);
    overflow:hidden;
    text-align:center

}
.about img {
    max-width: 100%;
    position: relative;
    bottom:-120px;
    margin-top:-120px;
}
@media (max-width:767px) {
    .about img {
        margin-top:-60px;
        bottom:-60px
    }
}
/* End About */

/* Start Stats */
.stats {
    padding: var(--section-padding) 0px;
    position:relative;
    background-image:url("../img2/stats.png");
    background-size:cover;
}
.stats::before {
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgb(0,0,0,0.8);
}
.stats .container {
    position: relative;
    display:flex;
    flex-wrap:wrap;
}
.stats .container .box {
    color:white;
    padding:50px;
    background-color:var(--transparent-main-color);
    text-align:center
}
@media (max-width:767px) {
    .stats .box {
        flex-basis:100%;
        margin-bottom:20px
    }
}
@media (min-width:768px) {
    .stats .box {
        flex-basis:50%
    }
}
@media (min-width:1199px) {
    .stats .box {
        flex-basis:25%
    }
}
.stats .container .box i {
    display:flex;
    background:black;
    align-items:center;
    justify-content:center;
    width:40px;
    height:40px;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    margin:0 auto 30px;
}
.stats .container .box h2 {
    font-size:40px;
    margin-bottom:30px
}
.stats .container .box p {
    font-size:14px;
}
/* End Stats */